---
const { navn,billede,data,link, category,categorier, beskrivelse, pris, specifikation, dimensioner, categoryTxt } = Astro.props;
---



<div class="container">
  <a href={link}>
  <img src={billede} alt="">
  <h2>{navn}</h2>
  <p class="text">{category}</p>
</a>
  
  
  <!-- <p class="text">{beskrivelse}</p>
  <p class="text">{pris}kr</p>
  <p class="text">{specifikation}</p>
  <p class="text">{dimensioner}</p>
  <p class="text">{category}</p> -->
</div>



<!-- <a class="selectProgram" href={link}><span>Read More</span> </a> -->

<style>
  @import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Ubuntu:wght@300&display=swap');
  @font-face {
    font-family: myFirstFont;
    src: url("/Fonts/RoxboroughCF.ttf");
}
 

  img{
    width: 50%;
  }

  video{
    width: 50%;
  }

  a {
    font-family: 'Eagle Lake', cursive;
  font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: black;
  }


  @media screen and (max-width: 750px) {
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    
  }
  }
</style>
