---
const {navn, beskrivelse, pris, specifikation, dimensioner, categories} = Astro.props;
---


<div class="container">
    <h2>{navn}</h2>
    <p class="text">{beskrivelse}</p>
    <p class="text">{pris}kr</p>
    <p class="text">{specifikation}</p>
    <p class="text">{dimensioner}</p>
  </div>
<!-- <a class="selectProgram" href={link}><span>Read More</span> </a> -->
</article>