---
import { Debug } from "astro/components";
import Button from "../../components/Button.astro";
import Frontpage from "../../components/Frontpage.astro";
import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";
import Accordion from "../../components/Accordion.astro";
import Navheader from "../../components/Navheader.astro";
export async function getStaticPaths() {
    const URL = "https://ekdwifpkwxudrklhraxd.supabase.co/rest/v1/Produkter";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVrZHdpZnBrd3h1ZHJrbGhyYXhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ4MzY5ODMsImV4cCI6MjAwMDQxMjk4M30.xddP6o77EO_m5cTEC1MtG2_Aq8cdco1t9dvJfoau6rk",
  },
};

  const response = await fetch(URL, options);
  const data = await response.json();

  return data.map((produkt) => {
    return {
      params: { slug: produkt.slug },
      props: { produkt },
    };
  });
}

const {produkt} = Astro.props;

---

<Navheader/>



<section class="slugGrid">
  <div class="textLeft">
    <img src={`/billeder/${produkt.billede}`} alt="event Billede" />
    
  </div>
  <div class="rightSide">
    <h1>{produkt.navn} </h1>
    <h2>{produkt.pris} kr</h2>
    <p>{produkt.beskrivelse}</p>
    <Button/>
    <div class="dropDown">
      
      <a href=""><i class="fa-solid fa-plus"></i> Specification</a>
      <a href=""><i class="fa-solid fa-plus"></i> Dimensions</a>
      <a href=""><i class="fa-solid fa-plus"></i> Delivery & Returns</a>
      <a href=""><i class="fa-solid fa-plus"></i> Sustainability</a>
    </div> 
  </div>

  
  
</section>



<Footer/>




<style>
  @import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Ubuntu:wght@300&display=swap');
  @font-face {
    font-family: myFirstFont;
    src: url("/Fonts/RoxboroughCF.ttf");
}
      .slugGrid{
        display: flex;
        justify-content: center;
        gap: 3rem;
        
    }

   

    
    .textLeft{
        border: solid;
        display: flex;
        justify-content: right;
        width: 40rem;
    }

    .dropDown{
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      margin-top: 2rem;
      
      gap: 1.5rem;
    }

    .dropDown a {
      text-decoration: none;
      color: black;
    }

    img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

    .rightSide{
        width: 20%;
    }
    p{
      font-family: 'Eagle Lake', cursive;
  font-family: 'Ubuntu', sans-serif;

    }

    h1{
      font-family: myFirstFont;
    }


    .logo {
    display: flex;
    align-items: center;
  }
  .logo h1 {
    margin-left: 0.5rem;
    font-size: 4rem;
    font-family: "myFirstFont", sans-serif;
    text-decoration: none;
  }

  span {
    color: orange;
  }

  a {
    font-family: "myFirstFont", sans-serif;
    text-decoration: none;
    color: black;
  }
  
</style>